<a href="https://colab.research.google.com/github/Doorbals/Doorbals/blob/main/2022_03_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 프로그래밍이란?
- programming : 프로그래밍 언어를 사용하여 프로그램을 개발하는 것
- program : 일련의 작업을 자동화하는 것
- python : 프로그래밍 언어 중 하나. 인간이 컴퓨터에게 작업을 명령하기 위해 사용하는 컴퓨터가 이해할 수 있는 언어.

## CH2. Data : Types, Values, Variables, and Names

In [ ]:
a = 2

In [ ]:
a

2

In [ ]:
a == 2

True

- (markdown = m+)
- 변수 | variable (a) : 특정 값을 저장하는 공간
- 값 | value : 2
- 자료형 : type : 2가 어떤 타입인가? 데이터의 형태(integer, int 타입)
- 할당하다 | assign : 2를 a에 넣는 과정 (a = 2)

### 변수의 타입
- boolean | 불리언 : True, False (bool)
- integer | 정수 : 1, 2, 3, 4,..(int)
- floating point number | 부동소수점 : 1.0, 2.0 ... (float)
- string | 문자열 : "apple", 'apple' (str)

In [1]:
num = 4

In [2]:
print(num)
type(num)

4

int

In [4]:
name = "my name"

In [5]:
print(name)
type(name)

my name

str

In [ ]:
print('i\'m Sam') # single quote 안의 '를 문자로 인식 시키는 방법 ('앞에 \를 붙여준다.)
print("i'm Sam")

i'm Sam
i'm Sam

### 변수명 정하기
- 소문자, 대문자, 숫자, 언더바(__)를 사용한다.
  - 예 : 'name', 'my_name', 'NAME', 'name3'
  - 불가능한 예 : 'my-name', '3name'
- 사용 불가능한 경우
  - 숫자로 시작하는 경우
  - 예약어(false, break 등 이미 파이썬에서 사용되고 있는 키워드들)

In [ ]:
3name = 'kim' # 숫자는 맨 앞에 올 수 없음.

SyntaxError: ignored

In [ ]:
def = 'hwang' # 예약어는 변수명으로 사용할 수 없다.

- 주의할 점 (특별한 용도가 있어 일반적으로 사용하지 않는 변수명 타입)
  - 1. 언더바로 시작하는 변수명
    예 : _name
  - 2. 언더바가 2개 있는 변수명
    예 : __name__
  - 3. 대문자로 시작하는 변수명
    예 : Car
  - 4. 전체가 대문자인 변수명
    예 : CAR

In [ ]:
# number != Number # 대소문자가 구별된다.
word1 = 'number'
word2 = 'Number'

In [ ]:
word1 == word2 # 대소문자 구별되므로 서로 다른 것으로 간주.

False

In [ ]:
word1 != word2

True

### 할당하기
- 수학에서는 = 가 양변이 같음을 의미하나, 프로그램에서는 할당을 의미.
  예 : 'name = 'lee'
  - lee라는 값을 name에 넣는 것
- 프로그램에서 오른쪽에 있는 모든 것은 값을 가져야 한다.("초기화")
- 오른쪽은 리터럴 값, 혹은 이미 값이 지정된 변수나 조합일 수 있다.

In [ ]:
car = 'hyundai'

In [7]:
kia = 'kia'

In [8]:
truck = kia # 위의 kia = 'kia' 없이 해당 문장만 실행시키면 변수 truck에 아직 값이 없으므로 오류 발생

In [ ]:
x = 2
y = x + 10
print(x, y)

2 12

In [ ]:
type(car) # str

str

In [ ]:
# str car = 'kia'
car = 'kia' # 원래 할당되어있던 'hyundai'가 아닌 'kia'로 덮어씌우므로 기존의 값은 없어짐.

In [ ]:
car

'kia'