### dictionary
- 영어사전이라고 생각하면 됨. 단어:뜻
- 키:값 으로 이루어진 원소
    - 키 값은 고유해야 한다. (중복되면 안됨)
- 순서가 없음. => 오프셋 없음
- 가변 객체 (수정, 추가, 삭제 가능)
- 타입 : dict, dict()
- 생성 : {key1:value, key2:value2, ...} 중괄호 사용
- value에는 리스트, 튜플, 딕셔너리도 들어갈 수 있음. (다양한 자료 들어갈 수 있다.)

In [4]:
empty = dict()
empty

{}

In [5]:
empty = {}
empty

{}

In [6]:
# set과 dict는 같은 {} 사용하기 때문에 유의
a = {} # 이것은 dict 생성, set는 중괄호로 만드는 방법 없음.
type(a)

dict

In [7]:
customer = {'first':'wile', 'middle':'E', 'last':'coyote'}
customer

{'first': 'wile', 'middle': 'E', 'last': 'coyote'}

In [8]:
customer = dict(first='wile', middle='E', last='coyote')
customer

{'first': 'wile', 'middle': 'E', 'last': 'coyote'}

In [15]:
# 출석부 딕셔너리를 만들기
"""
이름, 학번, 학과
제임스 202201 경영학과
줄리엣 202202 아랍어과
로버트 202203 ELLT과
"""

# stuedent1, 2, 3, ...을 키 값으로 만든 딕셔너리
student_dict = {}
student_dict = {'student1' : ["제임스", 202201, '경영학과'], 'student2' : ["줄리엣", 202202, "아랍어과"], 'student3' : ["로버트", 202203, "ELLT과"]}
student_dict

{'student1': ['제임스', 202201, '경영학과'],
 'student2': ['줄리엣', 202202, '아랍어과'],
 'student3': ['로버트', 202203, 'ELLT과']}

In [12]:
# 학번을 키 값으로 만든 딕셔너리
student_dict = {202201 : ["제임스", '경영학과'], 202202 : ["줄리엣", "아랍어과"], 202203 : ["로버트", "ELLT과"]}
student_dict

{202201: ['제임스', '경영학과'], 202202: ['줄리엣', '아랍어과'], 202203: ['로버트', 'ELLT과']}

### 형변환

In [18]:
# dict()
ex1 = [[20221, []], [3,4], [5,6]] # 리스트 안의 리스트의 원소가 두 개일 때만 가능
dict(ex1)

{20221: [], 3: 4, 5: 6}

In [19]:
ex2 = [(1,2), (3,4), (5,6)] # 이것 또한 리스트 안의 튜플의 원소가 두 개일 때만 가능
dict(ex2)

<class 'tuple'>

{1: 2, 3: 4, 5: 6}

In [14]:
ex3 = ["ab", "bc"] # 문자열 길이가 2인 것만 가능
dict(ex3)

{'a': 'b', 'b': 'c'}

In [21]:
pythons = {
    'Chapman' : "Graham",
    "Cleese" : "John",
    "Idle" : "Eric",
    "Jones" : "Terry",
    "Palin" : "Michael"    
}

In [22]:
# 'idle' 키 값의 value 접근
pythons["Idle"]

'Eric'

In [24]:
# 'idle' 키 값의 value 변경
pythons["Idle"] = "Erica"
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [25]:
pythons[0] # index 안됨

KeyError: 0

In [26]:
# 'Palin' 키 값의 value 변경
pythons['Palin'] = 'Josh'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Kim': 'Laura'}

In [27]:
# 딕셔너리의 원소 추가 ('Kim' : 'Laura')
pythons["Kim"] = "Laura"
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Kim': 'Laura'}

In [27]:
# 존재하지 않는 키 값으로 접근할 때 에러 발생
pythons['Lee']

KeyError: 'Lee'

In [29]:
# 키 값이 딕셔너리에 존재하는지 확인
'Lee' in pythons

False

In [30]:
# pythons 딕녀서리에 있는 'Lee' 키 값의 value 반환 (딕셔너리에 없으면 반환 X)
pythons.get('Lee') # None

In [31]:
pythons.get('Kim')

'Laura'

In [32]:
pythons.get('Choi', 0) # 해당 키 값 없으면 0 리턴하도록 기본 값 설정 가능

0

In [33]:
pythons.get('Kim', 0)

'Laura'

### keys(), values(), items()
- keys
- value
- items

In [34]:
pythons.keys()

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin'])

In [33]:
# 바로 list로 반환 되는 것이 아닌 dict_keys 자료형으로 되어있으므로 list로 변환시켜줘야 함.
list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin']

In [35]:
pythons.values()

dict_values(['Graham', 'John', 'Erica', 'Terry', 'Josh', 'Laura'])

In [36]:
pythons.items() # 순회 시 사용

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'Erica'), ('Jones', 'Terry'), ('Palin', 'Josh'), ('Kim', 'Laura')])

In [37]:
[x for x in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'Erica'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael')]

In [38]:
[x[0] for x in pythons.items()]

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin']

In [40]:
animals = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8
animal_dict = {}
# for loop 이용해서 animal:legs 딕셔너리 만들기

for i in range(len(animals)) :
    animal_dict [animals[i]] = legs[i]
    
animal_dict

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [54]:
# pythons에서 성:이름 => 리스트컴프리헨션 이용해서 [(성 앞글자 : 이름의 글자 수)]
len_name = dict([(name[0], len(name[1])) for name in pythons.items()])
len_name

{'Chapman': 6, 'Cleese': 4, 'Idle': 5, 'Jones': 5, 'Palin': 7}

### 값 수정, 삭제, 복제

In [64]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Kim': 'Laura'}

In [66]:
others = {
    'Mark' : "Groucho",
    'Howard' : "Moe"
}

In [68]:
pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Kim': 'Laura',
 'Mark': 'Groucho',
 'Howard': 'Moe'}

In [69]:
# 삭제
del pythons["Kim"]

In [70]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Mark': 'Groucho',
 'Howard': 'Moe'}

In [71]:
pythons.pop('Mark', 0) # get과 비슷한 성질

'Groucho'

In [72]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Erica',
 'Jones': 'Terry',
 'Palin': 'Josh',
 'Howard': 'Moe'}

In [74]:
pythons.clear()

In [75]:
pythons = {}

In [76]:
pythons

{}

In [ ]:
# copy
# 1. 할당
# 2. 얕은 복사
# 3. 깊은 복사

In [77]:
# 할당 -> 원본에 영향
a = {1:2, 2:3, 3:4}
b = a
a[1] = 10
a, b

({1: 10, 2: 3, 3: 4}, {1: 10, 2: 3, 3: 4})

In [78]:
# 얕은 복사
a = {1:2, 2:3, 3:4}
b = a.copy()
a[1] = 100
a, b

({1: 100, 2: 3, 3: 4}, {1: 2, 2: 3, 3: 4})

In [79]:
# 복사 대상 안에 있는 리스트에는 영향
a = {1:[2, 2, 2], 2:[1, 1, 1]}
b = a.copy()
a[1][0] = 100
a, b

({1: [100, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

In [80]:
# 깊은 복사 -> 원본에 전혀 영향 X
import copy
b = copy.deepcopy(a)
a[1][0] = 9
a, b

({1: [9, 2, 2], 2: [1, 1, 1]}, {1: [100, 2, 2], 2: [1, 1, 1]})

In [ ]:
# 값 비교 : 같고 다르고
a != b

### ex
- 두 개 리스트
- 명왕성 : pluto 추가하기
- '성'으로 끝나지 않는 단어 삭제하기
    - del sdict['태양']= > 하드코딩 x
- sorted i) kor ii) eng

In [82]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [84]:
# solar_dict 딕셔너리 만들기
solar_dict = {}
for i in range(len(solar_kor)) : 
    solar_dict[solar_kor[i]] = solar_eng[i]
    
solar_dict

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [86]:
# 명왕성 : pluto 원소 추가
solar_dict['명왕성'] = 'pluto'
    
solar_dict

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [90]:
#'성'으로 끝나지 않는 단어 삭제
for solar in list(solar_dict) :
    if not solar.endswith('성') :
        del solar_dict[solar]
        
solar_dict

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [93]:
# sorted kor
sorted(solar_dict.items())

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [94]:
# sorted eng
sorted(solar_dict.items(), key=lambda x: x[1])

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [97]:
accusation = {'room':'ballroom', 'weapon':'lead pipe', 'person':'Col. Mustard'}

for k, v in accusation.items():
    print(f'{k} has the contents {v}')

room has the contents ballroom
weapon has the contents lead pipe
person has the contents Col. Mustard

In [101]:
letter  = 'apple'
#{a:1, p:2, ...}
{ch : letter.count(ch) for ch in set(letter)}

{'l': 1, 'p': 2, 'e': 1, 'a': 1}

In [112]:
vowels = 'aeiou'
word = "onomatopoeia"

# 주어진 단어의 모음 세기
# a:1, e:3, ...
# vowels, word 각각 기준 잡아서 dic compre 이용해서 만들기

# 1. word 순회
print({ch:word.count(ch) for ch in set(word) if ch in vowels})

# 2. vowels 순회
print({v:word.count(v) for v in vowels if v in word})

{'o': 4, 'e': 1, 'i': 1, 'a': 2}
{'a': 2, 'e': 1, 'i': 1, 'o': 4}

### set 
- 딕셔너리의 키만 모아놓음 => 중복 없음.
- 수학의 집합 개념 => 교집합, 차집합, ...
- 데이터 자루, 순서 없고, 인덱싱 없고..

In [113]:
empty = set()
empty1 = {} #dict
empty, empty1

(set(), {})

In [114]:
a = {1,2,3}
type(a)

set

In [116]:
b = set([1, 2, 2, 3, 3])
b

{1, 2, 3}

In [118]:
# 추가하기
a.add(4)
a

{1, 2, 3, 4}

In [119]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [120]:
a.discard(3)
a

{1, 2}

In [124]:
drinks = {
    'martini' : {"vodka", 'vermouth'},
    'black russian' : {'vodka', 'kahlua'},
    'white russian' : {'cream', 'kahlua', 'vodka'},
    'mahattan' : {'rye', 'vermouth', 'bitters'},
    'screwdriver' : {'orange juice', 'vodka'}
    
}

# vodka가 있는 키 골라내기 (출력)
for k, v in drinks.items() :
    if 'vodka' in v :
        print(k)

martini
black russian
white russian
screwdriver

In [126]:
# 보드카는 있는데 크림이나 버무스가 있으면 프린트하지 않기
for k, v in drinks.items() :
    if 'vodka' in v and not ('cream' in v or 'vermouth' in  v) :
        print(k)

black russian
screwdriver

In [129]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 : intersection
a.intersection(b) # a & b

# 합집합 : union
a.union(b) # a|b

# 차집합 : difference
a.difference(b) # a - b

{1}

In [133]:
for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'} :
        print(k)

black russian
screwdriver

In [135]:
# frozenset
fs = frozenset([1, 2, 3])
fs

frozenset({1, 2, 3})

In [ ]:
# 작성한 코드 점수 확인
! pip install pylint
! pylint example.py

! pip install pydocstyle
! pydocstyle example.py